<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cblog.dao.test1.TestDao">
    
    <resultMap id="BaseResultMap" type="com.cblog.domain.User">
        <!--主键 <id column="id" property="id" jdbcType="INTEGER"/> -->
        <result column="USERNAME" property="userName" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="passWord" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        USERNAME,PASSWORD
    </sql>
    
    
    <insert id="saveTest"  parameterType="java.util.Map">
    insert into USERS(USERNAME,PASSWORD) values(#{userName},#{passWord})
    </insert>


    
</mapper>