<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cblog.dao.test1.UserDao">
    
    <resultMap id="BaseResultMap" type="com.cblog.domain.User">
        <!--主键 <id column="id" property="id" jdbcType="INTEGER"/> -->
        <id column="UID" property="uid" jdbcType="INTEGER"/>
        <result column="USERNAME" property="userName" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="passWord" jdbcType="VARCHAR"/>
        <result column="SEX" property="sex" jdbcType="VARCHAR"/>
        <result column="AGE" property="age" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="PICID" property="picID" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        USERNAME,PASSWORD
    </sql>
    


    <!--保存用户信息-->
    <insert id="saveUser"  parameterType="java.util.Map">
    insert into USERS(UID,USERNAME,PASSWORD,SEX,AGE,PHONE,ADDRESS,PICID)
    values(#{uid},#{userName},#{passWord},#{sex},#{sex},#{phone},#{address},#{picID})
    </insert>


    
</mapper>